<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion Component</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="accordion.css">
</head>

<body>

    <div class="accordion">
        <div class="item">
            <p class="number">01</p>
            <p class="text">
                Where are these chairs assembled?
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            <div class="hidden-box">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Aliquam quae magni aspernatur reiciendis placeat
                    tempora iusto distinctio sapiente cupiditate,
                    nostrum ex, soluta quam culpa adipisci possimus
                    praesentium ducimus perferendis velit.
                </p>
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
                    <li>Doloremque eveniet vel repudiandae, voluptas laudantium tempore.</li>
                    <li>Laborum eum quibusdam illum soluta nihil, modi eos </li>
                    <li>dignissimos neque atque eaque. Maxime, sit consectetur.</li>
                </ul>
            </div>
        </div>

        <div class="item open">
            <p class="number">02</p>
            <p class="text">
                How long do I have to return my chair?
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            <div class="hidden-box">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Aliquam quae magni aspernatur reiciendis placeat
                    tempora iusto distinctio sapiente cupiditate,
                    nostrum ex, soluta quam culpa adipisci possimus
                    praesentium ducimus perferendis velit.
                </p>
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
                    <li>Doloremque eveniet vel repudiandae, voluptas laudantium tempore.</li>
                    <li>Laborum eum quibusdam illum soluta nihil, modi eos </li>
                    <li>dignissimos neque atque eaque. Maxime, sit consectetur.</li>
                </ul>
            </div>
        </div>

        <div class="item">
            <p class="number">03</p>
            <p class="text">
                Do you ship to countries out side the EU?
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            <div class="hidden-box">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Aliquam quae magni aspernatur reiciendis placeat
                    tempora iusto distinctio sapiente cupiditate,
                    nostrum ex, soluta quam culpa adipisci possimus
                    praesentium ducimus perferendis velit.
                </p>
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </li>
                    <li>Doloremque eveniet vel repudiandae, voluptas laudantium tempore.</li>
                    <li>Laborum eum quibusdam illum soluta nihil, modi eos </li>
                    <li>dignissimos neque atque eaque. Maxime, sit consectetur.</li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>