<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omnifood Hero Section</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="hero.css">
</head>

<body>
    <header>
        <nav class="container">
            <div>LOGO</div>
            <div>NAVIGATION</div>
        </nav>

        <div class="container">
            <h1>A healthy meal delivered to your door, every single day</h1>
            <p>
                The smart 365-days-per-year food subscription that will make you eat healthy again. Tailored to oyour
                personal tastes and nutritional need
            </p>

            <a href="#" class="btn">Start eating well</a>
        </div>
    </header>

    <section>
        <div class="container">
            <h2>Some random heading</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, odit officiis magnam laborum provident
                quod rem excepturi sit? Repellendus quae omnis aut repudiandae consequatur beatae enim tempore autem
                fugiat deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae tenetur atque, harum iste
                rerum maxime consectetur nam asperiores recusandae, doloremque, sunt ut! Non, sed. Consequatur molestiae
                id aliquam et aliquid?
            </p>
        </div>
    </section>
</body>

</html>